.image-container {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}

.responsive-image {
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
  transition: transform .3s ease-in-out 0s;
  transform-origin: 50% 50% 0;
  cursor: zoom-in;
}

.responsive-image img {
  max-height: 100vh;
  height: 100%;
  width: auto;
  user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
}

.responsive-image.zoomed-in {
  cursor: grab;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 40px;
}

.control {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.control:first-of-type {
  margin-bottom: 30px;
}

.image-zoom--in {
  background-image: url('./zoom-in.svg');
  width: 25px;
  height: 25px;
  display: flex;
}

.image-zoom--out {
  background-image: url('./zoom-out.svg');
  width: 25px;
  height: 25px;
  display: flex;
}

.disabled i {
  opacity: .35;
}
