.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}

.responsive-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.responsive-image img {
  max-height: 100vh;
  height: 100%;
  width: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 40px;
}

.control {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.control:first-of-type {
  margin-bottom: 30px;
}

.image-zoom--in {
  background-image: url('./zoom-in.svg');
  width: 25px;
  height: 25px;
  display: flex;
}

.image-zoom--out {
  background-image: url('./zoom-out.svg');
  width: 25px;
  height: 25px;
  display: flex;
}
